{
	"root": true,
	"env": {
		"node": true,
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
	],
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"ecmaVersion": 2022,
		"sourceType": "module",
	},
	"plugins": ["@typescript-eslint", "simple-import-sort", "unused-imports"],
	"rules": {
		"arrow-body-style": "off",
		"prefer-arrow-callback": "off",
		"no-console": "warn",
		"no-debugger": "warn",
		"no-undef": "off",
		"eqeqeq": "error",
		"prefer-const": "error",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"simple-import-sort/imports": "error",
		"unused-imports/no-unused-imports-ts": "error",
	},
}
