@import '../style/common.styl'

use-number()
	position relative
	color base16('06')
	font-monospace()

	&__input
		input()
		padding 0 0.4em
		width 100%
		text-align right
		cursor col-resize

		~/.tweaking &
			box-shadow 0 0 0 1px base16('accent')

		&:focus
			cursor text
			pointer-events auto

	&__overlay-label
		tooltip()
		z-index 1001
		color base16('06')
		transform translate(-50%, -50%)
		font-monospace()
		position fixed

		&:before, &:after
			position absolute
			top 50%
			display block
			width 1.8em
			text-align center
			transform translateY(-50%)

		&:before
			right 100%
			content '\00a0<\00a0'

		&:after
			left 100%
			content '\00a0>\00a0'

		&.fast
			&:before
				content '<<\00a0'

			&:after
				content '\00a0>>'

		&.slow
			&:before
				content '\00a0<~'

			&:after
				content '~>\00a0'