@import '~@/components/style/common.styl'

$circle-diameter = 0.7 * $button-height
$circle-radius = 0.5 * $circle-diameter
$picker-gap = 0.7 * $circle-diameter

circle()
	position absolute
	margin-left -1 * $circle-radius
	width $circle-diameter
	height $circle-diameter
	border-radius 50%
	box-shadow 0 0 0 1.5px #fff, inset 0 0 0px 1px rgba(0, 0, 0, 0.1), 0 0 1px 2px rgba(0, 0, 0, 0.4)
	transition transform 0.03s ease

	&.tweaking
		transform scale(2)
