
app()
	background var(--app-background)
	color var(--textcolor)

font-monospace(important = false)
	if (important)
		letter-spacing 0 !important
		font-family 'Fira Code', monospace !important
		font-variant-ligatures normal !important
	else
		letter-spacing 0
		font-family 'Fira Code', monospace
		font-variant-ligatures normal !important

$input-height = 1.8rem
$button-height = 1.4rem
$input-horiz-margin = 0.6rem
$border-radius = 2px

input-transition($prop = all)
	transition $prop 0.1s ease

input()
	width 6em
	height $input-height
	border 1px solid transparent
	border-radius $border-radius
	background var(--input)
	color inherit
	font-size inherit

	input-transition(border-color)
		/* Chrome, Safari, Edge, Opera */

	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button
		margin 0
		-webkit-appearance none

	/* Firefox */
	&[type=number]
		-moz-appearance textfield

	&:hover, &:focus
		border-color var(--highlight)

	&:focus
		box-shadow 0 0 0 1px var(--highlight)

input-border()
	border 1px solid transparent
	border-radius $border-radius
	input-transition(border-color)

	&:hover
		border-color var(--highlight)

	&:focus
		border-color var(--highlight)

input-overlay()
	position fixed
	top 0
	left 0
	z-index 1000
	width 100%
	height 100%

	.bold
		fill none
		stroke var(--highlight)
		stroke-width 3
		stroke-linecap round

	.dashed
		fill none
		stroke var(--frame)
		stroke-width 1

	.label
		font-monospace()
		font-size 1rem
		fill var(--highlight)

translucent-bg()
	background var(--translucent)
	backdrop-filter blur(16px)

labeled-button()
	padding-top 0.2rem
	height $button-height
	border-radius 2px
	background var(--button)
	color var(--background)
	font-size 0.9em
	input-transition(all)

	&:hover, &:focus
		background var(--highlight)