
app()
	background var(--base00)
	color var(--base04)

$font-monospace = 'Fira Code', monospace

font-monospace(important = false)
	if (important)
		letter-spacing 0 !important
		font-family $font-monospace !important
		font-variant-ligatures normal !important
	else
		letter-spacing 0
		font-family $font-monospace
		font-variant-ligatures normal !important

font-title()
	font-family 'Inter', sans-serif

font-ui()
	// font-family system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif
	font-family 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

base16(name, opacity = 1)
	if (opacity == 1)
		unquote('rgb(var(--base' + name + '-rgb))')
	else
		unquote('rgba(var(--base' + name + '-rgb), ' + opacity + ')')

$input-height = 1.8em
$subcontrol-height = 1.4em
$subcontrol-margin = (($input-height - $subcontrol-height) / 2em)
$input-horiz-margin = 0.6em
$input-round = 2px
$popup-round = 4px

input-transition($prop = all)
	transition $prop 0.1s ease

input()
	width 6em
	height $input-height
	border 1px solid transparent
	border-radius $input-round
	background var(--base01)
	color inherit
	font-size inherit

	input-transition(border-color)
		/* Chrome, Safari, Edge, Opera */

	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button
		margin 0
		-webkit-appearance none

	/* Firefox */
	&[type=number]
		-moz-appearance textfield

	&:hover, &:focus
		border-color var(--accent)
		color var(--base06)

	&:focus
		box-shadow 0 0 0 1px var(--accent)

input-border()
	border 1px solid transparent
	border-radius $input-round
	input-transition(border-color)

	&:hover
		border-color var(--accent)

	&:focus
		border-color var(--accent)

input-overlay()
	position fixed
	top 0
	left 0
	z-index 1000
	width 100%
	height 100%

	.bold
		fill none
		stroke var(--accent)
		stroke-width 2
		stroke-linecap round

	.dashed
		fill none
		stroke var(--frame)
		stroke-width 1

	.label
		font-size 1em
		font-monospace()
		fill var(--accent)

absolute-fill()
	position absolute
	top 0
	left 0
	display block
	width 100%
	height 100%

pseudo-block()
	position absolute
	display block
	content ''

translucent-bg()
	background base16('00', 0.9)
	backdrop-filter blur(16px)

tooltip()
	padding 0.4em
	border-radius $popup-round
	background base16('00', 0.7)
	color var(--accent)
	cursor none
	transition opacity 0.1s ease
	backdrop-filter blur(3px)

labeled-button()
	padding-top 0.2em
	height $subcontrol-height
	border-radius $input-round
	background var(--base02)
	color var(--base00)
	font-size 0.9em
	input-transition(all)

	&:hover, &:focus
		background var(--accent)

background-checkerboard()
	background-color white
	background-image linear-gradient(45deg, #ddd 25%, transparent 25%), linear-gradient(135deg, #ddd 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ddd 75%), linear-gradient(135deg, transparent 75%, #ddd 75%)
	background-position 0 0, 4px 0, 4px -4px, 0px 4px
	background-size 8px 8px