@import 'common.styl'

.document
	font-size 1.2rem
	line-height 1.6
	font-text()

	a
		background-image linear-gradient(transparent 50%, base16('04') 50%)
		background-position left bottom
		background-size 10px 2px
		background-repeat repeat-x
		color base16('04')
		text-decoration none

		&:hover
			background base16('04')
			color base16('00')

		&.anchor
			position absolute
			top 0
			bottom 0
			left 0
			display block
			margin-left -2em
			padding-left 2em
			cursor pointer

	strong
		color base16('06')

	blockquote
		margin 0
		padding 1em
		border-left 0.4em solid $color-frame
		text-align left
		font-style italic

	h1, h2, h3, h4, h5, h6
		position relative
		margin (20 / 16em) 0 (10 / 16em)
		padding 0
		font-weight bold

	h1, h2, h3, h4, h5
		color base16('06')

	:is(h1, h2, h3, h4, h5, h6) code
		padding 0
		background none
		font-size inherit

	h1
		margin-top 2em
		font-size: (28 / 15em)

	h2
		border-bottom 1px solid $color-frame
		font-size: (24 / 15em)

	h3
		font-size: (18 / 15em)

	h4
		font-size: (16 / 15em)

	h5
		font-size 1em

	h6
		color base16('04')
		font-size 1em

	p, blockquote, ul, ol, dl, li, table, pre
		margin 1.1em 0

	hr
		margin 2em 0
		padding 0
		border 0
		color base16('03')
		font-monospace()
		text-align center

		&:before
			content '~~ ~~ ~~ ~~ ~~'

	// List
	ul, ol
		padding-left 2em

	li
		position relative

		&::marker
			font-size 0.9em
			font-monospace()
			color base16('accent')

	ul > li::marker
		content '*\00a0'

	ul ul > li::marker
		content '+\00a0'

	ul ul ul > li::marker
		content '-\00a0'

	ol
		counter-reset ol-counter

	ol > li
		counter-increment ol-counter

	ol > li::marker
		content counter(ol-counter) ')\00a0'

	ol ol > li::marker
		content counter(ol-counter) '.\00a0'

	ol ol ol > li::marker
		content counter(ol-counter, lower-alpha) '.\00a0'

	dl
		padding 0

		dt
			margin 1.1em 0 0.4em
			padding 0
			font-weight bold
			font-style italic
			font-size 0.95em

		dt:first-child
			padding 0

		dt > :first-child
			margin-top 0

		dt > :last-child
			margin-bottom 0

		dd
			margin 0 0 1.1em
			padding 0 1.1em

		dd > :first-child
			margin-top 0

		dd > :last-child
			margin-bottom 0

	blockquote
		padding 0 1.1em
		border-left 3px solid base16('03')
		color base16('04')

	& > :first-child
		margin-top 0

	& > :last-child
		margin-bottom 0

	table
		padding 0
		border-collapse collapse

		tr
			margin 0
			padding 0

		tr th
			margin 0
			padding 0.4em 1em
			border 1px solid base16('03')
			background base16('03')
			color base16('06')
			font-weight bold

		tr td
			margin 0
			padding 0.4em 1em
			border-bottom 1px solid $color-frame

		tr th :first-child, tr td :first-child
			margin-top 0

		tr th :last-child, tr td :last-child
			margin-bottom 0

	img
		max-width 100%

	span.frame
		display block
		overflow hidden

		& > span
			display block
			float left
			overflow hidden
			margin 1em 0 0
			padding 0.6em
			width auto
			border 1px solid $color-frame

		& span img
			display block
			float left

		& span span
			display block
			clear both
			padding 0.4em 0 0
			color $color-frame

	span.align-center
		display block
		clear both
		overflow hidden

		& > span
			display block
			overflow hidden
			margin 1em auto 0
			text-align center

		& span img
			margin 0 auto
			text-align center

	span.align-right
		display block
		clear both
		overflow hidden

		& > span
			display block
			overflow hidden
			margin 1em 0 0
			text-align right

		& span img
			margin 0
			text-align right

	span.float-left
		display block
		float left
		overflow hidden
		margin-right 1em

		& span
			margin 1em 0 0

	span.float-right
		display block
		float right
		overflow hidden
		margin-left 1em

		& > span
			display block
			overflow hidden
			margin 1em auto 0
			text-align right

	pre, code
		font-monospace()
		font-size 0.92em

	code
		margin 0 0.1em
		padding 0 0.4em
		border-radius $input-round
		background-color base16('01')
		color base16('06')
		white-space nowrap
		line-height 1.5

	pre code
		margin 0
		padding 0
		border none
		background transparent
		white-space pre

	pre
		overflow auto
		padding 1em
		border-radius $popup-round
		background-color base16('01', 0.5)
		line-height 1.2em

	pre code
		border none
		background-color transparent

	sup
		vertical-align super
		font-size 0.83em
		line-height 0

	// Table of contents
	nav.table-of-contents
		margin 1.7em 0
		padding 1.05em 1.5em
		border-radius $popup-round
		background base16('01')
		font-size 0.95em

		&:before
			color base16('accent')
			content 'Table of Contents'
			font-title()
			font-size 1.2em

		ol
			margin-top 0.8em
			margin-bottom 0.8em
			padding-left 1.5em
			border-left 1px solid $color-frame

		li
			margin-top 0.8em
			margin-bottom 0.8em

		li::marker
			content ''

		& > ol
			padding-left 1.4em

	// KaTeX
	.katex
		font-size 1.05em

	p.katex-block .katex
		font-size 1.21em

	p.katex-block
		position relative

	// Footnotes
	sup.footnote-ref
		top -0.2em
		margin-right 0.2em
		font-size 0.8em

		a
			background none
			color base16('accent')

			&:hover
				background base16('accent')
				color base16('00')
