@import 'common.styl'
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css')
@import url('https://use.typekit.net/trq1pay.css')

::-webkit-scrollbar
	width 0.4rem
	height 0.5rem

// Track
::-webkit-scrollbar-track
	display none

// Handle
::-webkit-scrollbar-thumb
	border-radius 0
	background var(--frame)

::selection
	background var(--frame)

*, ::after, ::before
	box-sizing border-box
	outline none
	-webkit-tap-highlight-color transparent

html
	letter-spacing 0.05em
	font-size 12px
	font-family var(--font-ui)
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

	font-variant-ligatures normal !important
		letter-spacing 0 !important

	// Fonts
	--font-monospace 'Fira Code', monospace
	--font-ui system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif
	--font-title hypatia-sans-pro, sans-serif

h1, h2, h3
	letter-spacing 0.1em
	font-family var(--font-title)

button
	outline none
	border none
	background none
	cursor pointer
	user-select none

/* Splitpanes */
.splitpanes
	&.glisp-theme
		&.splitpanes--vertical > .splitpanes__splitter
			position relative
			z-index 1
			margin 0 -0.25em
			padding 0
			min-width calc(1px + 0.5em)
			border-right 0.25em solid transparent
			border-left 0.25em solid transparent
			background-color var(--frame)
			background-clip padding-box
			input-transition()

			&:hover
				border-color var(--frame)
				background-color var(--comment)

			&:before, &:after
				position absolute
				top 50%
				pointer-events none
				font-monospace()
				margin-top -0.5em
				width 2em
				height 1em
				color var(--comment)
				line-height 1em
				opacity 0
				input-transition()

			&:before
				right 0
				content '<<'
				text-align right

			&:hover:before, &:hover:after
				opacity 1

			&:hover:before
				transform translateX(-50%)

			&:after
				left 0
				content '>>'

			&:hover:after
				transform translateX(50%)