@import 'common.styl'

*, ::after, ::before
	box-sizing border-box
	outline none
	-webkit-tap-highlight-color transparent

html
	letter-spacing 0.05em
	font-size 12px
	font-family 'Fira Sans', sans-serif // monospace
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

button
	outline none
	border none
	background none
	cursor pointer
	user-select none