@import 'common.styl'
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap')

::-webkit-scrollbar
	width 0.5rem
	height 0.5rem

/* Track */
::-webkit-scrollbar-track
	display none

/* Handle */
::-webkit-scrollbar-thumb
	border-radius 0.25rem
	background #888

::selection
	background var(--frame)

*, ::after, ::before
	box-sizing border-box
	outline none
	-webkit-tap-highlight-color transparent

html
	letter-spacing 0.05em
	font-size 12px
	font-family var(--font-ui)
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

	font-variant-ligatures normal !important
		letter-spacing 0 !important

	// Fonts
	--font-mono 'Fira Code', monospace
	--font-ui system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif
	--font-title 'Montserrat', sans-serif

h1, h2, h3
	font-family var(--font-title)

button
	outline none
	border none
	background none
	cursor pointer
	user-select none