.splitpanes
	&.glisp-theme
		overflow hidden

		&.splitpanes--vertical
			& > .splitpanes__pane
				position relative
				overflow scroll

			& > .splitpanes__splitter
				position relative
				z-index 1
				margin 0 -0.5em
				padding 0
				min-width calc(1px + 1em)
				border-right 0.5em solid transparent
				border-left 0.5em solid transparent
				background-color $color-frame
				background-clip padding-box
				input-transition()

				&:hover
					border-color $color-frame
					background-color base16('07')