// Styles to overwrite vue-modal-js
@import './common.styl'

div#modals-container
	z-index 1000

div.vm
	&--overlay
		background transparent
		backdrop-filter blur(3px)

	&--modal
		border 1px solid $color-frame
		background var(--opaque)
		box-shadow 0 0 20px 20px base16('00')

div.vmodal
	&__transition
		&-enter-active, &-leave-active
			transition opacity 0.15s ease, transform 0.15s ease

		&-enter, &-leave-to
			opacity 0
			transform scale(0.98)

	&__overlay-transition
		&-enter-active, &-leave-active
			transition opacity 0.2s ease

		&-enter, &-leave-to
			opacity 0